<div class="sidebar">
  <div class="sidebar__title">
    <div>
      <app-icon name="school"></app-icon>
      <span>{{ (currentSchool$ | async)?.name }}</span>
    </div>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      *ngIf="user?.role === 'admin'"
    >
      <app-icon name="arrow-down" [size]="12"></app-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        *ngFor="let school of schools$ | async"
        (click)="updateSchool(school)"
      >
        <span>{{ school.name }}</span>
      </button>
    </mat-menu>
  </div>
  <mat-nav-list class="sidebar__nav-list">
    <a
      *ngFor="let sidebarLink of sidebarLinks"
      mat-list-item
      [routerLink]="sidebarLink.route"
    >
      <app-icon [name]="sidebarLink.icon"></app-icon>
      <span>{{ sidebarLink.label }}</span>
    </a>
  </mat-nav-list>

  <button mat-flat-button class="sidebar__logout-button" (click)="logout()">
    Sair
  </button>
</div>
