<div class="schools-list">
  <app-page-title
    title="Escolas"
    buttonLabel="Nova escola"
    (buttonClick)="onRegisterClick()"
  ></app-page-title>

  <table mat-table [dataSource]="schools$" class="schools-list__table">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let school">{{ school.name }}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Telefone</th>
      <td mat-cell *matCellDef="let school">{{ school.phone }}</td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Endereço</th>
      <td mat-cell *matCellDef="let school">{{ getSchoolAddress(school) }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let school">
        <button mat-icon-button (click)="editSchool(school.id)" class="schools-list__edit">
          <app-icon name="edit" [size]="16"></app-icon>
        </button>
        <button mat-icon-button (click)="deleteSchool(school)" class="schools-list__delete">
          <app-icon name="delete" [size]="16"></app-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
